img {
  max-width: 450px;
  max-height: 350px;
  margin: 0 auto;
  border-radius: 25px;
  width: 90%;
  height: 90%;
}

body {
  overflow-x: hidden;
}
html {
  background-color: #fcece4;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}
.setBackground {
  background-color: #fcece4;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

.app-container {
  width: 500px;
  margin: auto;
}

.clear {
  clear: both;
}

.details,
.title {
  text-align: center;
}

.error {
  margin-top: 4px;
  color: red;
}

.has-error {
  border: 1px dotted red;
}

.image-container {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  /* float: left; */
  text-align: center;
}

.preview-container {
  height: 400px;
  width: 100%;
  margin-bottom: 10px;
}

.placeholder-preview,
.render-preview {
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  height: 97.5%;
  width: 80%;
  margin-left: 10%;
  border-radius: 25px;
  box-shadow: -9px 15px 10px #ffd6c9;
  font-family: "Rubik", sans-serif;
  margin-top: 20px;
}

.upload-container {
  cursor: pointer;
  height: 300px;
}

.border_pointer {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px dashed gray;
  border-radius: 25px;
  width: 90%;
  height: 90%;
}

.result {
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  background-color: #ff8c5a;
  border-color: #ff8c5a;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 25px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  color: #ffffff !important;
  background-color: #ff8c5a !important;
  border-color: #ff8c5a !important;
  font-family: "Rubik", sans-serif;
  font-size: 35px !important;
  font-weight: 600 !important;
  height: 55px !important;
  width: 260px !important;
  line-height: 5px !important;
  border-radius: 25px !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  font-family: "Rubik", sans-serif;
  font-size: 20px !important;
  font-weight: 500 !important;
  height: 40px !important;
  width: 90px !important;
  line-height: 5px !important;
  border-radius: 25px !important;
}

.btn-outline-warning,
.btn-outline-warning:hover,
.btn-outline-warning:active,
.btn-outline-warning:visited {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  font-family: "Rubik", sans-serif;
  font-size: 20px !important;
  font-weight: 500 !important;
  height: 40px !important;
  width: 300px !important;
  line-height: 5px !important;
  border-radius: 25px !important;
  margin-bottom: 40px;
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited {
  color: #000000 !important;
  background-color: #fab395 !important;
  border-color: #fab395 !important;
  font-family: "Rubik", sans-serif;
  font-size: 20px !important;
  font-weight: 500 !important;
  height: 40px !important;
  width: 300px !important;
  line-height: 5px !important;
  border-radius: 25px !important;
  margin-bottom: 40px;
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
