body {
  overflow-x: hidden;
}

h1 {
  font-size: 64px !important;
}

h3 {
  font-size: 30px !important;
}

p {
  font-size: 16px !important;
}
@media screen and (max-width: 1280px) {
  h1 {
    font-size: 54px !important;
  }
  h3 {
    font-size: 25px !important;
  }

  p {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 46px !important;
  }
  h3 {
    font-size: 23px !important;
  }

  p {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 39px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 300px) {
  h1 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  p {
    font-size: 10px !important;
  }
}
